.cart {
  &__list {
    display: flex;
    flex-flow: column;
    gap: 24px;
    margin-bottom: 34px;
  }

  &__item {
    padding: 24px;
    border-radius: 24px;
    background: rgba(224, 224, 224, 0.2);
    backdrop-filter: blur(18.5px);

    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__col {
    display: flex;
    flex-flow: column;
    gap: 16px;
    flex-grow: 1;

    &_img {
      flex-grow: 0;
      flex-basis: 99px;
      width: 99px;
      height: 104px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0f0c36;
      border-radius: 12px;
      overflow: hidden;
    }
  }

  &__img {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__remove-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    @include flex-centered;
    opacity: 0.42;
    transition: $transition-speed;

    &:hover {
      opacity: 1;
    }
  }

  &__remove-icon {
  }

  &__count {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  &__input {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }

  &__input-value {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 100%;
  }

  &__input-control {
    display: flex;
    flex-flow: column;
    gap: 2px;
  }

  &__input-arrow {
    cursor: pointer;
    &_up {
      padding: 2px 3px 0 2px;
    }

    &_down {
      padding: 0 3px 2px 2px;
    }

    &:active {
      transform-origin: center center;
      transform: scale(0.8);
    }
  }

  &__item-totalcost {
    font-size: $fz-main;
    font-weight: 700;
  }

  &__currency-icon {
  }

  &__totalcost-value {
  }

  &__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  &__subtotal-title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 100%;
  }

  &__subtotalcost {
    color: #f0d775;
    font-size: 2rem;
    font-weight: 700;
  }

  &__subtotalcost-value {
  }
}
