.checkout-form {
  display: flex;
  gap: 24px;
  margin-bottom: 66px;

  &__col {
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    gap: 24px;

    &_side {
      flex-grow: 0;
      width: 384px;
    }
  }

  &__fieldset {
    border-radius: 24px;
    background: rgba(224, 224, 224, 0.06);
    backdrop-filter: blur(50px);
    padding: 40px;
  }

  &__legend {
    font-size: 1.875rem;
    margin-bottom: 34px;
    font-weight: 700;
  }

  &__input-group {
    display: flex;
    flex-flow: column;
    gap: 26px;
  }

  &__row {
    display: flex;
    gap: 24px;
  }

  &__input-top-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: 0;
    border-radius: 0 8px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    background: none;
    z-index: -1;
    transition: $transition-speed;
  }

  &__input {
    position: relative;
    flex: 1;

    & > label {
      position: absolute;
      left: 16px;
      top: 0;
      transform: translateY(-50%);
      padding: 0 4px;
      color: rgba($color: #fff, $alpha: 0.6);
      border-radius: 8px;
    }

    & > input {
      width: 100%;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.17);
      border-top: none;
      background: none;
      outline: none;
      padding: 16px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
      color: rgba($color: #fff, $alpha: 0.8);
      transition: $transition-speed;

      &:focus {
        border-color: rgba(255, 255, 255, 0.47);
        color: rgba($color: #fff, $alpha: 1);

        & + .checkout-form__input-top-border {
          border-color: rgba(255, 255, 255, 0.47);
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 16px;
      border-radius: 8px 0 0 0;
      border-top: 1px solid rgba(255, 255, 255, 0.17);
      transition: $transition-speed;
    }

    &_half-width {
      max-width: calc(50% - 12px);
    }
  }

  &__checkbox {
    & > label {
      font-size: 1rem;
    }
    & > input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
      }
      & + label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
        cursor: pointer;
      }
      &:checked + label::before {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: url(./../img/icons/check.svg);
      }
    }
  }

  &__btn {
    margin-top: 40px;
  }
}

@include mobile() {
  .checkout-form {
    flex-flow: column-reverse;

    &__col {
      &_side {
        width: 100%;
      }
    }

    &__row {
      flex-flow: column;
    }

    &__input {
      &_half-width {
        max-width: unset;
      }
    }
  }
}
