.promotions {
  display: flex;
  flex-flow: column;
  margin-bottom: 24px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    border-radius: 56px;
    background: rgba(224, 224, 224, 0.06);
    backdrop-filter: blur(18.5px);
    cursor: pointer;

    &:hover > .promotions__icon {
      transform: translateX(6px);
    }

    &.open {
      & + .promotions__desc {
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
      }

      & > .promotions__icon {
        transform: translateX(6px) rotate(90deg);
      }
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 100%;
  }

  &__icon {
    transition: $transition-speed;
  }

  &__desc {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: $transition-speed;
    transform: translateY(-10px);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
